---

---
<button id='btn'>
    Click me
</button>
<script>
    //@ts-ignore
    const btn:HTMLButtonElement = document.querySelector('#btn') 
    btn.addEventListener('click',()=>{
        console.log('oi!')
    })
</script>